public class Sensor {

    public static Sensor[] sensores = new Sensor[8];
    public static int tamano = 8;
    public static int posAnadir = 0;
    
    private String tipo;
    private double valor;


    public Sensor(){

    }

    public Sensor(String t, double v) {
        this.tipo = t;
        this.valor = v;

        sensores[posAnadir] = this;
        posAnadir++;
    }

    public String getTipo() {
        return this.tipo;
    }

    public double getValor() {
        return this.valor;
    }

    public void setTipo(String t) {
        this.tipo = t;
    }

    public void setValor(double v) {
        this.valor = v;
    }

    public String toString() {
        String text1 = "Tipo:" + this.tipo + "\n";
        String text2 = "Valor:" + this.valor + "\n";

        return text1+text2;
    }

    public static String toStringSensores(){

        if (posAnadir == 0)
            return "No hay sensores";

        String allSensors = "";

        for(int i = 0; i < posAnadir; i++)
            allSensors += sensores[i].toString() + "\n\n";

        return allSensors;
    }

    public static String toStringSensoresTemperatura(){

        if (posAnadir == 0)
            return "No hay sensores temperatura";
            
        String allSensors = "";

        for(int i = 0; i < posAnadir; i++)

            if(sensores[i].tipo.equalsIgnoreCase("temperatura"))
                allSensors += sensores[i].toString() + "\n\n";

        return allSensors;
    }


    public static Sensor[] sensoresTemperaturaOrdenados(){

        int lenSensoresT = numSensoresTemperatura();

        if (lenSensoresT == 0)
            return new Sensor[0];

        Sensor[] sensoresTemperatura = new Sensor[lenSensoresT];

        int pos = 0;

        for(int i = 0; i < posAnadir; i++)
            if(sensores[i].tipo.equalsIgnoreCase("temperatura")){
                sensoresTemperatura[pos] = sensores[i];
                pos++;
            }
                

        int n = lenSensoresT;
        for (int i = 0; i < n-1; i++)
            for (int j = 0; j < n-i-1; j++)
                if (sensoresTemperatura[j].valor > sensoresTemperatura[j+1].valor){

                            Sensor temp = sensoresTemperatura[j];
                            sensoresTemperatura[j] = sensoresTemperatura[j+1];
                            sensoresTemperatura[j+1] = temp;
                }

        return sensoresTemperatura;

    }

    public static int numSensoresTemperatura(){

        int resultado = 0;
        for(int i = 0; i < posAnadir; i++)
            if(sensores[i].tipo.equalsIgnoreCase("temperatura"))
                resultado++;

        return resultado;
    }

    public static int cantidadSensores(){
        return posAnadir;
    }

}
