import java.util.ArrayList;

public class Vehiculo {
    public static Vehiculo[] vehiculos = new Vehiculo[10];
    public static int tamano = 10;
    public static int posAnadir = 0;
    private int modelo;
    private String marca;
    private double valorComercial;
    private String color;

    public Vehiculo(){

    }

    public Vehiculo(int mo, String ma, double va) {
        this(mo, ma, va, "verde");

    }

    public Vehiculo(int mo, String ma, double va, String co) {
        this.modelo = mo;
        this.marca = ma;
        this.valorComercial = va;
        this.color = co;

        vehiculos[posAnadir] = this;

        posAnadir++;
    }


    public int getModelo() {
        return modelo;
    }

    public void setModelo(int mo) {
        this.modelo = mo;
    }


    public String getMarca() {
        return marca;
    }

    public void setMarca(String ma) {
        this.marca = ma;
    }

    public double getValorComercial() {
        return this.valorComercial;
    }

    public void setValorComercial(double va) {
        this.valorComercial = va;
    }

    public String getColor() {
        return this.color;
    }

    public void setColor(String co) {
        this.color = co;
    }

    public String toString() {
        return "Modelo: " + this.modelo + "\nMarca: " + this.marca + "\nValor comercial: " + this.valorComercial
        + "\nColor: " + this.color;
    }

    public static String toStringVehiculos() {

        if(posAnadir == 0)
            return "No hay vehiculos";

        String allVehicles = "";

        for(int i = 0; i < posAnadir; i++)
            allVehicles += vehiculos[i].toString() + "\n\n";

        return allVehicles;
    }

    public static String VehiculosVerdes() {
        String carrosVerdes = "";

        for(int i = 0; i < posAnadir; i++)
            if (vehiculos[i].color.equalsIgnoreCase("verde"))
                carrosVerdes += vehiculos[i].toString() + "\n\n";
        

        return carrosVerdes;
    }

    public static String VehiculosEntre2000y2021() {
        String carros = "";

        for(int i = 0; i < posAnadir; i++)
            if (vehiculos[i].modelo >= 2000 && vehiculos[i].modelo <= 2021)
                carros += vehiculos[i].toString() + "\n\n";
        

        return carros;
    }


    public static int cantidadVehiculos() {
        return posAnadir;
    }
}
