import java.util.Scanner;

public class Principal {

    static Scanner sc = new Scanner(System.in);

    static String opciones = "0. Terminar programa\n" 
                    + "1. Crear vehiculo\n"
                    + "2. Mostrar vehiculos creados\n"
                    + "3. Cantidad de vehiculos\n"
                    + "4. Vehiculos color verde\n"
                    + "5. Vehiculos modelo entre 2000 y 2021\n"
                    + "6. Crear sensor\n"
                    + "7. Informacion sensores\n"
                    + "8. Cantidad sensores creados\n"
                    + "9. Mostrar sensores de temperatura\n"
                    + "666. Sensores temperatura ordenados\n";

    public static int chooseOption() {

        int respuesta = 0;

        boolean flag = true;

        while (flag) {
            try {
                respuesta = sc.nextInt();
                flag = false;
            } catch (Exception e) {
                System.out.println("valor invalido");
                sc.next();
                continue;
            }
        }
        return respuesta;
    }

    public static void mostrarMenu() {

        int num = -1;

        while (num != 0){
            System.out.println(opciones);
            num = chooseOption();

            switch(num){

                case 0:
                    System.out.println("-Fin del Programa-");
                    break;
    
                case 1:
                    int modelo;
                    String marca,color;
                    double valor = 0;
    
                    System.out.println("Modelo de carro: ");
                    modelo = sc.nextInt();
                    System.out.println("Marca de carro: ");
                    marca = sc.next();
                    System.out.println("valor de carro: ");
                    valor = sc.nextDouble();
                    System.out.println("color de carro: ");
                    color = sc.next();
    
    
                    if (Vehiculo.posAnadir < 10){
                        new Vehiculo(modelo, marca, valor,color);
                        System.out.println("\n\nCarro creado correctamente\n\n");
                    }  
                    else
                        System.out.println("\n\nError base de datos llena\n\n");
                        
                    break;
    
                case 2:
                    
                    System.out.println("\n\n" + Vehiculo.toStringVehiculos() + "\n\n");
                    break;
    
                case 3:
                    System.out.println("\n\n Hay un total de: " + Vehiculo.cantidadVehiculos() + " vehiculos\n\n");
                    break;
    
                case 4:
                    System.out.println("\n\nVehiculos verdes:\n\n" + Vehiculo.VehiculosVerdes() + "\n\n");
                    break;
    
                case 5:
                    System.out.println("\n\nVehiculos modelo 2000-2021:\n\n" + Vehiculo.VehiculosEntre2000y2021() + "\n\n");
                    break;
    
                case 6:


                    System.out.println("Tipo de sensor");
                    String tipo = sc.next();
                    System.out.println("Valor:");
                    double val = sc.nextDouble();

                    if (Sensor.posAnadir < 10){
                        new Sensor(tipo,val);
                        System.out.println("\n\nSensor creado correctamente\n\n");
                    }  
                    else
                        System.out.println("\n\nError base de datos llena\n\n");
                    break;

    
                case 7:
                    System.out.println("\n\n" + Sensor.toStringSensores()+ "\n\n");
                    break;

    
                case 8:
                    System.out.println("\n\n" + Sensor.cantidadSensores()+ "\n\n");
                    break;
    
                case 9:
                    System.out.println("\n\n" + Sensor.toStringSensoresTemperatura()+ "\n\n"); 
                    break;
    
                case 666:
                    Sensor[] arreglo = Sensor.sensoresTemperaturaOrdenados();

                    if (arreglo.length == 0){
                        System.out.println("No hay sensores");
                        break;
                    }
                    else{
                        for(int i = 0; i < arreglo.length; i++){
                            System.out.println(arreglo[i].toString());
                        }
                    }


                    break;
    
                default:
                    System.out.println("Escoge un numero valido");
                    break;
            }
    
        }

        
    }

    public static void main(String[] args) {
        mostrarMenu();
    }

}
